# DATABASE_URL=postgres://user:password@localhost:5432/gd_portal
DATABASE_URL=postgresql://localhost:5432/gd_portal

JWT_SECRET=change-this-to-a-long-random-string
PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=4GEBVAUYpY1z7uirB9hjykNjKiiEDqHC
POSTGRES_DB=snooz
# DATABASE_URL=postgresql://postgres:4GEBVAUYpY1z7uirB9hjykNjKiiEDqHC@postgres:5432/snooz
DATABASE_URL=postgresql://shashicare_api:R5pyL%3Fyr20oryFrl@localhost:5432/shashicare_prod